# ETL & Data Preparation : Extract, Transform, Load

## Objectives

* To prepare a unified, analysis-ready dataset that supports examining how renewable energy deployment and energy efficiency impact CO₂ emissions over time, and to detect structural tipping points in emission trends. The dataset enables hypothesis testing, machine learning, and interactive dashboard visualisation to guide policy and research.

## Inputs

- **Global Sustainable Energy (Kaggle)**  
  Country-level annual indicators on electricity generation, renewable energy share, and CO₂ emissions (2000–2020).

- **World Bank Population (SP.POP.TOTL)**  
  Total population data by country (1960–2023), subset for 2000–2020 to align with energy data coverage.

- **UNSD M49 Region Mapping**  
  Static country-to-region classification to support regional comparisons and aggregation.

## Outputs

* A cleaned, merged dataset containing harmonised country-year records (2000–2020), enriched with population and regional classifications.  
This integrated dataset forms the foundation for statistical analysis, hypothesis validation, and predictive modelling in a Streamlit dashboard.

---

### Load and Inspect the Data
Understand the raw data — check columns, types, shape, duplicates and any obvious issues

In [1]:
# Import required libraries and set up output directory
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from seaborn import boxplot
import plotly.express as px
import os

In [2]:
# Create folder to save images 
os.makedirs("images", exist_ok=True)

### Extract Datasets

Step 1: Load Datasets

In [ ]:
# Load the global energy dataset
df_energy = pd.read_csv("../data/raw/global-data-on-sustainable-energy.csv")

# Load the population dataset
df_region = pd.read_csv("../data/raw/unsd_country_region_mapping.csv", sep=";")


df_population = pd.read_csv("../data/raw/world_bank_population.csv")

Step 2: Preview the Raw Data

In [27]:
from IPython.display import display

# Use display() to preview the first few rows of each dataset
display(df_energy.head())
display(df_population.head())
display(df_region.head())

,Entity,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US $),Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),...,Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
0,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,302.59482,1.64,760.000000,NaN,NaN,NaN,60,652230.0,33.93911,67.709953
1,Afghanistan,2001,4.074574,7.2,8.86,130000.0,45.60,0.09,0.0,0.50,...,236.89185,1.74,730.000000,NaN,NaN,NaN,60,652230.0,33.93911,67.709953
2,Afghanistan,2002,9.409158,8.2,8.47,3950000.0,37.83,0.13,0.0,0.56,...,210.86215,1.40,1029.999971,NaN,NaN,179.426579,60,652230.0,33.93911,67.709953
3,Afghanistan,2003,14.738506,9.5,8.09,25970000.0,36.66,0.31,0.0,0.63,...,229.96822,1.40,1220.000029,NaN,8.832278,190.683814,60,652230.0,33.93911,67.709953
4,Afghanistan,2004,20.064968,10.9,7.75,NaN,44.24,0.33,0.0,0.56,...,204.23125,1.20,1029.999971,NaN,1.414118,211.382074,60,652230.0,33.93911,67.709953

,STRUCTURE,STRUCTURE_ID,ACTION,FREQ_ID,FREQ_NAME,REF_AREA_ID,REF_AREA_NAME,INDICATOR_ID,INDICATOR_NAME,SEX_ID,...,DATA_SOURCE_NAME,UNIT_TYPE_ID,UNIT_TYPE_NAME,TIME_FORMAT_ID,TIME_FORMAT_NAME,COMMENT_OBS,OBS_STATUS_ID,OBS_STATUS_NAME,OBS_CONF_ID,OBS_CONF_NAME
0,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,AFE,Africa Eastern and Southern,WB_WDI_SP_POP_TOTL,"Population, total",_T,...,World Development Indicators (WDI),COUNT,Count (Integer),P1Y,Annual,NaN,A,Normal value,PU,Public
1,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,AFW,Africa Western and Central,WB_WDI_SP_POP_TOTL,"Population, total",_T,...,World Development Indicators (WDI),COUNT,Count (Integer),P1Y,Annual,NaN,A,Normal value,PU,Public
2,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,ARB,Arab World,WB_WDI_SP_POP_TOTL,"Population, total",_T,...,World Development Indicators (WDI),COUNT,Count (Integer),P1Y,Annual,NaN,A,Normal value,PU,Public
3,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,CSS,Caribbean small states,WB_WDI_SP_POP_TOTL,"Population, total",_T,...,World Development Indicators (WDI),COUNT,Count (Integer),P1Y,Annual,NaN,A,Normal value,PU,Public
4,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,CEB,Central Electricity Board (CEB),WB_WDI_SP_POP_TOTL,"Population, total",_T,...,World Development Indicators (WDI),COUNT,Count (Integer),P1Y,Annual,NaN,A,Normal value,PU,Public

,Global Code,Global Name,Region Code,Region Name,Sub-region Code,Sub-region Name,Intermediate Region Code,Intermediate Region Name,Country or Area,M49 Code,ISO-alpha2 Code,ISO-alpha3 Code,Least Developed Countries (LDC),Land Locked Developing Countries (LLDC),"Small Island Developing States (SIDS),"
0,1,World,2.0,Africa,15.0,Northern Africa,NaN,NaN,Algeria,12,DZ,DZA,NaN,NaN,","
1,1,World,2.0,Africa,15.0,Northern Africa,NaN,NaN,Egypt,818,EG,EGY,NaN,NaN,","
2,1,World,2.0,Africa,15.0,Northern Africa,NaN,NaN,Libya,434,LY,LBY,NaN,NaN,","
3,1,World,2.0,Africa,15.0,Northern Africa,NaN,NaN,Morocco,504,MA,MAR,NaN,NaN,","
4,1,World,2.0,Africa,15.0,Northern Africa,NaN,NaN,Sudan,729,SD,SDN,x,NaN,","