# **ETL & Data Preparation : Extract, Transform, Load**

### Objectives

* To prepare a unified, analysis-ready dataset that supports examining how renewable energy deployment and energy efficiency impact CO₂ emissions over time, and to detect structural tipping points in emission trends. The dataset enables hypothesis testing, machine learning, and interactive dashboard visualisation to guide policy and research.

### Inputs

- **Global Sustainable Energy (Kaggle)**  
  Country-level annual indicators on electricity generation, renewable energy share, and CO₂ emissions (2000–2020).

- **World Bank Population (SP.POP.TOTL)**  
  Total population data by country (1960–2023), subset for 2000–2020 to align with energy data coverage.

- **UNSD M49 Region Mapping**  
  Static country-to-region classification to support regional comparisons and aggregation.

### Outputs

* A cleaned, merged dataset containing harmonised country-year records (2000–2020), enriched with population and regional classifications.  
This integrated dataset forms the foundation for statistical analysis, hypothesis validation, and predictive modelling in a Streamlit dashboard.

---

### **Load and Inspect the Data**
Understand the raw data — check columns, types, shape, duplicates and any obvious issues

In [1]:
# Import required libraries and set up output directory
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from seaborn import boxplot
import plotly.express as px
import os

In [2]:
# Create folder to save images 
os.makedirs("images", exist_ok=True)

### **EXTRACT DATA**

**Step 1: Load Datasets**

In [ ]:
# Load the global energy dataset
df_energy = pd.read_csv("../data/raw/global-data-on-sustainable-energy.csv")

# Load the region dataset
df_region = pd.read_csv("../data/raw/unsd_country_region_mapping.csv", sep=";")

# Load the population dataset
df_population = pd.read_csv("../data/raw/world_bank_population.csv")

**Step 2: Preview the Raw Data**

In [27]:
from IPython.display import display

# Use display() to preview the first few rows of each dataset
display(df_energy.head())
display(df_population.head())
display(df_region.head())

,Entity,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US $),Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),...,Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
0,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,302.59482,1.64,760.000000,NaN,NaN,NaN,60,652230.0,33.93911,67.709953
1,Afghanistan,2001,4.074574,7.2,8.86,130000.0,45.60,0.09,0.0,0.50,...,236.89185,1.74,730.000000,NaN,NaN,NaN,60,652230.0,33.93911,67.709953
2,Afghanistan,2002,9.409158,8.2,8.47,3950000.0,37.83,0.13,0.0,0.56,...,210.86215,1.40,1029.999971,NaN,NaN,179.426579,60,652230.0,33.93911,67.709953
3,Afghanistan,2003,14.738506,9.5,8.09,25970000.0,36.66,0.31,0.0,0.63,...,229.96822,1.40,1220.000029,NaN,8.832278,190.683814,60,652230.0,33.93911,67.709953
4,Afghanistan,2004,20.064968,10.9,7.75,NaN,44.24,0.33,0.0,0.56,...,204.23125,1.20,1029.999971,NaN,1.414118,211.382074,60,652230.0,33.93911,67.709953

,STRUCTURE,STRUCTURE_ID,ACTION,FREQ_ID,FREQ_NAME,REF_AREA_ID,REF_AREA_NAME,INDICATOR_ID,INDICATOR_NAME,SEX_ID,...,DATA_SOURCE_NAME,UNIT_TYPE_ID,UNIT_TYPE_NAME,TIME_FORMAT_ID,TIME_FORMAT_NAME,COMMENT_OBS,OBS_STATUS_ID,OBS_STATUS_NAME,OBS_CONF_ID,OBS_CONF_NAME
0,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,AFE,Africa Eastern and Southern,WB_WDI_SP_POP_TOTL,"Population, total",_T,...,World Development Indicators (WDI),COUNT,Count (Integer),P1Y,Annual,NaN,A,Normal value,PU,Public
1,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,AFW,Africa Western and Central,WB_WDI_SP_POP_TOTL,"Population, total",_T,...,World Development Indicators (WDI),COUNT,Count (Integer),P1Y,Annual,NaN,A,Normal value,PU,Public
2,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,ARB,Arab World,WB_WDI_SP_POP_TOTL,"Population, total",_T,...,World Development Indicators (WDI),COUNT,Count (Integer),P1Y,Annual,NaN,A,Normal value,PU,Public
3,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,CSS,Caribbean small states,WB_WDI_SP_POP_TOTL,"Population, total",_T,...,World Development Indicators (WDI),COUNT,Count (Integer),P1Y,Annual,NaN,A,Normal value,PU,Public
4,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,CEB,Central Electricity Board (CEB),WB_WDI_SP_POP_TOTL,"Population, total",_T,...,World Development Indicators (WDI),COUNT,Count (Integer),P1Y,Annual,NaN,A,Normal value,PU,Public

,Global Code,Global Name,Region Code,Region Name,Sub-region Code,Sub-region Name,Intermediate Region Code,Intermediate Region Name,Country or Area,M49 Code,ISO-alpha2 Code,ISO-alpha3 Code,Least Developed Countries (LDC),Land Locked Developing Countries (LLDC),"Small Island Developing States (SIDS),"
0,1,World,2.0,Africa,15.0,Northern Africa,NaN,NaN,Algeria,12,DZ,DZA,NaN,NaN,","
1,1,World,2.0,Africa,15.0,Northern Africa,NaN,NaN,Egypt,818,EG,EGY,NaN,NaN,","
2,1,World,2.0,Africa,15.0,Northern Africa,NaN,NaN,Libya,434,LY,LBY,NaN,NaN,","
3,1,World,2.0,Africa,15.0,Northern Africa,NaN,NaN,Morocco,504,MA,MAR,NaN,NaN,","
4,1,World,2.0,Africa,15.0,Northern Africa,NaN,NaN,Sudan,729,SD,SDN,x,NaN,","

**Step 3: Inspect Dataset Structure**

In [28]:
# Inspect the structure and nulls in the energy dataset
print("df_energy:")
print(df_energy.shape)
df_energy.info()
print(df_energy.isnull().sum())

df_energy:
(3649, 21)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3649 entries, 0 to 3648
Data columns (total 21 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Entity                                                            3649 non-null   object
 1   Year                                                              3649 non-null   int64
 2   Access to electricity (% of population)                           3639 non-null   float64
 3   Access to clean fuels for cooking                                 3480 non-null   float64
 4   Renewable-electricity-generating-capacity-per-capita              2718 non-null   float64
 5   Financial flows to developing countries (US $)                    1560 non-null   float64
 6   Renewable energy share in the total final energy consumption (%)  3455 non-null   float64
 7   Electricity from fossil fuels (TWh)                               3628 non-null   float64
 8   Electricity from nuclear (TWh)                                    3523 non-null   float64
 9   Electricity from renewables (TWh)                                 3628 non-null   float64
 10  Low-carbon electricity (% electricity)                            3607 non-null   float64
 11  Primary energy consumption per capita (kWh/person)                3649 non-null   float64
 12  Energy intensity level of primary energy (MJ/$2017 PPP GDP)       3442 non-null   float64
 13  Value_co2_emissions_kt_by_country                                 3221 non-null   float64
 14  Renewables (% equivalent primary energy)                          1512 non-null   float64
 15  gdp_growth                                                        3332 non-null   float64
 16  gdp_per_capita                                                    3367 non-null   float64
 17  Density\n(P/Km2)                                                  3648 non-null   object
 18  Land Area(Km2)                                                    3648 non-null   float64
 19  Latitude                                                          3648 non-null   float64
 20  Longitude                                                         3648 non-null   float64
dtypes: float64(18), int64(1), object(2)
memory usage: 598.8+ KB
Entity                                                                 0
Year                                                                   0
Access to electricity (% of population)                               10
Access to clean fuels for cooking                                    169
Renewable-electricity-generating-capacity-per-capita                 931
Financial flows to developing countries (US $)                      2089
Renewable energy share in the total final energy consumption (%)     194
Electricity from fossil fuels (TWh)                                   21
Electricity from nuclear (TWh)                                       126
Electricity from renewables (TWh)                                     21
Low-carbon electricity (% electricity)                                42
Primary energy consumption per capita (kWh/person)                     0
Energy intensity level of primary energy (MJ/$2017 PPP GDP)          207
Value_co2_emissions_kt_by_country                                    428
Renewables (% equivalent primary energy)                            2137
gdp_growth                                                           317
gdp_per_capita                                                       282
Density\n(P/Km2)                                                       1
Land Area(Km2)                                                         1
Latitude                                                               1
Longitude                                                              1
dtype: int64

In [29]:
# Inspect the structure and nulls in the population dataset
print("\ndf_population:")
print(df_population.shape)
df_population.info()
print(df_population.isnull().sum())

df_population:
(16930, 45)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16930 entries, 0 to 16929
Data columns (total 45 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   STRUCTURE              16930 non-null  object
 1   STRUCTURE_ID           16930 non-null  object
 2   ACTION                 16930 non-null  object
 3   FREQ_ID                16930 non-null  object
 4   FREQ_NAME              16930 non-null  object
 5   REF_AREA_ID            16930 non-null  object
 6   REF_AREA_NAME          16930 non-null  object
 7   INDICATOR_ID           16930 non-null  object
 8   INDICATOR_NAME         16930 non-null  object
 9   SEX_ID                 16930 non-null  object
 10  SEX_NAME               16930 non-null  object
 11  AGE_ID                 16930 non-null  object
 12  AGE_NAME               16930 non-null  object
 13  URBANISATION_ID        16930 non-null  object
 14  URBANISATION_NAME      16930 non-null  object
 15  UNIT_MEASURE_ID        16930 non-null  object
 16  UNIT_MEASURE_NAME      16930 non-null  object
 17  COMP_BREAKDOWN_1_ID    16930 non-null  object
 18  COMP_BREAKDOWN_1_NAME  16930 non-null  object
 19  COMP_BREAKDOWN_2_ID    16930 non-null  object
 20  COMP_BREAKDOWN_2_NAME  16930 non-null  object
 21  COMP_BREAKDOWN_3_ID    16930 non-null  object
 22  COMP_BREAKDOWN_3_NAME  16930 non-null  object
 23  TIME_PERIOD            16930 non-null  int64
 24  OBS_VALUE              16930 non-null  float64
 25  AGG_METHOD_ID          16930 non-null  object
 26  AGG_METHOD_NAME        16930 non-null  object
 27  DECIMALS_ID            16930 non-null  int64
 28  DECIMALS_NAME          16930 non-null  object
 29  DATABASE_ID_ID         16930 non-null  object
 30  DATABASE_ID_NAME       16930 non-null  object
 31  COMMENT_TS             16930 non-null  object
 32  UNIT_MULT_ID           16930 non-null  int64
 33  UNIT_MULT_NAME         16930 non-null  object
 34  DATA_SOURCE_ID         16930 non-null  object
 35  DATA_SOURCE_NAME       16930 non-null  object
 36  UNIT_TYPE_ID           16930 non-null  object
 37  UNIT_TYPE_NAME         16930 non-null  object
 38  TIME_FORMAT_ID         16930 non-null  object
 39  TIME_FORMAT_NAME       16930 non-null  object
 40  COMMENT_OBS            0 non-null      float64
 41  OBS_STATUS_ID          16930 non-null  object
 42  OBS_STATUS_NAME        16930 non-null  object
 43  OBS_CONF_ID            16930 non-null  object
 44  OBS_CONF_NAME          16930 non-null  object
dtypes: float64(2), int64(3), object(40)
memory usage: 5.8+ MB
STRUCTURE                    0
STRUCTURE_ID                 0
ACTION                       0
FREQ_ID                      0
FREQ_NAME                    0
REF_AREA_ID                  0
REF_AREA_NAME                0
INDICATOR_ID                 0
INDICATOR_NAME               0
SEX_ID                       0
SEX_NAME                     0
AGE_ID                       0
AGE_NAME                     0
URBANISATION_ID              0
URBANISATION_NAME            0
UNIT_MEASURE_ID              0
UNIT_MEASURE_NAME            0
COMP_BREAKDOWN_1_ID          0
COMP_BREAKDOWN_1_NAME        0
COMP_BREAKDOWN_2_ID          0
COMP_BREAKDOWN_2_NAME        0
COMP_BREAKDOWN_3_ID          0
COMP_BREAKDOWN_3_NAME        0
TIME_PERIOD                  0
OBS_VALUE                    0
AGG_METHOD_ID                0
AGG_METHOD_NAME              0
DECIMALS_ID                  0
DECIMALS_NAME                0
DATABASE_ID_ID               0
DATABASE_ID_NAME             0
COMMENT_TS                   0
UNIT_MULT_ID                 0
UNIT_MULT_NAME               0
DATA_SOURCE_ID               0
DATA_SOURCE_NAME             0
UNIT_TYPE_ID                 0
UNIT_TYPE_NAME               0
TIME_FORMAT_ID               0
TIME_FORMAT_NAME             0
COMMENT_OBS              16930
OBS_STATUS_ID                0
OBS_STATUS_NAME              0
OBS_CONF_ID                  0
OBS_CONF_NAME                0
dtype: int64

In [30]:
# Inspect the structure and nulls in the region mapping dataset
print("\ndf_region:")
print(df_region.shape)
df_region.info()
print(df_region.isnull().sum())

df_region:
(248, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 15 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Global Code                              248 non-null    int64
 1   Global Name                              248 non-null    object
 2   Region Code                              247 non-null    float64
 3   Region Name                              247 non-null    object
 4   Sub-region Code                          247 non-null    float64
 5   Sub-region Name                          247 non-null    object
 6   Intermediate Region Code                 105 non-null    float64
 7   Intermediate Region Name                 105 non-null    object
 8   Country or Area                          248 non-null    object
 9   M49 Code                                 248 non-null    int64
 10  ISO-alpha2 Code                          247 non-null    object
 11  ISO-alpha3 Code                          248 non-null    object
 12  Least Developed Countries (LDC)          44 non-null     object
 13  Land Locked Developing Countries (LLDC)  32 non-null     object
 14  Small Island Developing States (SIDS),   246 non-null    object
dtypes: float64(3), int64(2), object(10)
memory usage: 29.2+ KB
Global Code                                  0
Global Name                                  0
Region Code                                  1
Region Name                                  1
Sub-region Code                              1
Sub-region Name                              1
Intermediate Region Code                   143
Intermediate Region Name                   143
Country or Area                              0
M49 Code                                     0
ISO-alpha2 Code                              1
ISO-alpha3 Code                              0
Least Developed Countries (LDC)            204
Land Locked Developing Countries (LLDC)    216
Small Island Developing States (SIDS),       2
dtype: int64

**Step 4: Clean Column Names in All Datasets**

In [31]:
# Function to clean column names: lowercase, trim spaces, replace internal spaces with underscores, remove special characters
def clean_column_names(df):
    df.columns = (
        df.columns.str.strip()                      # remove leading/trailing whitespace
                  .str.lower()                      # make lowercase
                  .str.replace(r'[^\w\s]', '', regex=True)  # remove special characters
                  .str.replace(r'\s+', '_', regex=True)     # replace space(s) with underscore
    )
    return df

# Apply to all datasets
df_energy = clean_column_names(df_energy)
df_population = clean_column_names(df_population)
df_region = clean_column_names(df_region)

**Step 5: Inspect Dataset Structure**

In [34]:
# inspect the cleaned structure and nulls in the energy dataset
print("df_energy:")
print(df_energy.shape)
df_energy.info()
print(df_energy.isnull().sum())

df_energy:
(3649, 21)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3649 entries, 0 to 3648
Data columns (total 21 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   entity                                                         3649 non-null   object
 1   year                                                           3649 non-null   int64
 2   access_to_electricity_of_population                            3639 non-null   float64
 3   access_to_clean_fuels_for_cooking                              3480 non-null   float64
 4   renewableelectricitygeneratingcapacitypercapita                2718 non-null   float64
 5   financial_flows_to_developing_countries_us_                    1560 non-null   float64
 6   renewable_energy_share_in_the_total_final_energy_consumption_  3455 non-null   float64
 7   electricity_from_fossil_fuels_twh                              3628 non-null   float64
 8   electricity_from_nuclear_twh                                   3523 non-null   float64
 9   electricity_from_renewables_twh                                3628 non-null   float64
 10  lowcarbon_electricity_electricity                              3607 non-null   float64
 11  primary_energy_consumption_per_capita_kwhperson                3649 non-null   float64
 12  energy_intensity_level_of_primary_energy_mj2017_ppp_gdp        3442 non-null   float64
 13  value_co2_emissions_kt_by_country                              3221 non-null   float64
 14  renewables_equivalent_primary_energy                           1512 non-null   float64
 15  gdp_growth                                                     3332 non-null   float64
 16  gdp_per_capita                                                 3367 non-null   float64
 17  densitynpkm2                                                   3648 non-null   object
 18  land_areakm2                                                   3648 non-null   float64
 19  latitude                                                       3648 non-null   float64
 20  longitude                                                      3648 non-null   float64
dtypes: float64(18), int64(1), object(2)
memory usage: 598.8+ KB
entity                                                              0
year                                                                0
access_to_electricity_of_population                                10
access_to_clean_fuels_for_cooking                                 169
renewableelectricitygeneratingcapacitypercapita                   931
financial_flows_to_developing_countries_us_                      2089
renewable_energy_share_in_the_total_final_energy_consumption_     194
electricity_from_fossil_fuels_twh                                  21
electricity_from_nuclear_twh                                      126
electricity_from_renewables_twh                                    21
lowcarbon_electricity_electricity                                  42
primary_energy_consumption_per_capita_kwhperson                     0
energy_intensity_level_of_primary_energy_mj2017_ppp_gdp           207
value_co2_emissions_kt_by_country                                 428
renewables_equivalent_primary_energy                             2137
gdp_growth                                                        317
gdp_per_capita                                                    282
densitynpkm2                                                        1
land_areakm2                                                        1
latitude                                                            1
longitude                                                           1
dtype: int64

In [35]:
# inspect the cleaned structure and nulls in the population dataset
print("\ndf_population:")
print(df_population.shape)
df_population.info()
print(df_population.isnull().sum())

df_population:
(16930, 45)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16930 entries, 0 to 16929
Data columns (total 45 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   structure              16930 non-null  object
 1   structure_id           16930 non-null  object
 2   action                 16930 non-null  object
 3   freq_id                16930 non-null  object
 4   freq_name              16930 non-null  object
 5   ref_area_id            16930 non-null  object
 6   ref_area_name          16930 non-null  object
 7   indicator_id           16930 non-null  object
 8   indicator_name         16930 non-null  object
 9   sex_id                 16930 non-null  object
 10  sex_name               16930 non-null  object
 11  age_id                 16930 non-null  object
 12  age_name               16930 non-null  object
 13  urbanisation_id        16930 non-null  object
 14  urbanisation_name      16930 non-null  object
 15  unit_measure_id        16930 non-null  object
 16  unit_measure_name      16930 non-null  object
 17  comp_breakdown_1_id    16930 non-null  object
 18  comp_breakdown_1_name  16930 non-null  object
 19  comp_breakdown_2_id    16930 non-null  object
 20  comp_breakdown_2_name  16930 non-null  object
 21  comp_breakdown_3_id    16930 non-null  object
 22  comp_breakdown_3_name  16930 non-null  object
 23  time_period            16930 non-null  int64
 24  obs_value              16930 non-null  float64
 25  agg_method_id          16930 non-null  object
 26  agg_method_name        16930 non-null  object
 27  decimals_id            16930 non-null  int64
 28  decimals_name          16930 non-null  object
 29  database_id_id         16930 non-null  object
 30  database_id_name       16930 non-null  object
 31  comment_ts             16930 non-null  object
 32  unit_mult_id           16930 non-null  int64
 33  unit_mult_name         16930 non-null  object
 34  data_source_id         16930 non-null  object
 35  data_source_name       16930 non-null  object
 36  unit_type_id           16930 non-null  object
 37  unit_type_name         16930 non-null  object
 38  time_format_id         16930 non-null  object
 39  time_format_name       16930 non-null  object
 40  comment_obs            0 non-null      float64
 41  obs_status_id          16930 non-null  object
 42  obs_status_name        16930 non-null  object
 43  obs_conf_id            16930 non-null  object
 44  obs_conf_name          16930 non-null  object
dtypes: float64(2), int64(3), object(40)
memory usage: 5.8+ MB
structure                    0
structure_id                 0
action                       0
freq_id                      0
freq_name                    0
ref_area_id                  0
ref_area_name                0
indicator_id                 0
indicator_name               0
sex_id                       0
sex_name                     0
age_id                       0
age_name                     0
urbanisation_id              0
urbanisation_name            0
unit_measure_id              0
unit_measure_name            0
comp_breakdown_1_id          0
comp_breakdown_1_name        0
comp_breakdown_2_id          0
comp_breakdown_2_name        0
comp_breakdown_3_id          0
comp_breakdown_3_name        0
time_period                  0
obs_value                    0
agg_method_id                0
agg_method_name              0
decimals_id                  0
decimals_name                0
database_id_id               0
database_id_name             0
comment_ts                   0
unit_mult_id                 0
unit_mult_name               0
data_source_id               0
data_source_name             0
unit_type_id                 0
unit_type_name               0
time_format_id               0
time_format_name             0
comment_obs              16930
obs_status_id                0
obs_status_name              0
obs_conf_id                  0
obs_conf_name                0
dtype: int64

In [36]:
# inspect the cleaned structure and nulls in the region dataset
print("\ndf_region:")
print(df_region.shape)
df_region.info()
print(df_region.isnull().sum())

df_region:
(248, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 15 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   global_code                            248 non-null    int64
 1   global_name                            248 non-null    object
 2   region_code                            247 non-null    float64
 3   region_name                            247 non-null    object
 4   subregion_code                         247 non-null    float64
 5   subregion_name                         247 non-null    object
 6   intermediate_region_code               105 non-null    float64
 7   intermediate_region_name               105 non-null    object
 8   country_or_area                        248 non-null    object
 9   m49_code                               248 non-null    int64
 10  isoalpha2_code                         247 non-null    object
 11  isoalpha3_code                         248 non-null    object
 12  least_developed_countries_ldc          44 non-null     object
 13  land_locked_developing_countries_lldc  32 non-null     object
 14  small_island_developing_states_sids    246 non-null    object
dtypes: float64(3), int64(2), object(10)
memory usage: 29.2+ KB
global_code                                0
global_name                                0
region_code                                1
region_name                                1
subregion_code                             1
subregion_name                             1
intermediate_region_code                 143
intermediate_region_name                 143
country_or_area                            0
m49_code                                   0
isoalpha2_code                             1
isoalpha3_code                             0
least_developed_countries_ldc            204
land_locked_developing_countries_lldc    216
small_island_developing_states_sids        2
dtype: int64

**Step 6: Clean the Energy Dataset**

In [37]:
# Rename columns in the energy dataset for clarity and consistency
df_energy.rename(columns={'entity': 'country'}, inplace=True)
df_energy['year'] = df_energy['year'].astype(int)

In [38]:
df_energy.head()  # Display the first few rows of the energy dataset

,country,year,access_to_electricity_of_population,access_to_clean_fuels_for_cooking,renewableelectricitygeneratingcapacitypercapita,financial_flows_to_developing_countries_us_,renewable_energy_share_in_the_total_final_energy_consumption_,electricity_from_fossil_fuels_twh,electricity_from_nuclear_twh,electricity_from_renewables_twh,...,primary_energy_consumption_per_capita_kwhperson,energy_intensity_level_of_primary_energy_mj2017_ppp_gdp,value_co2_emissions_kt_by_country,renewables_equivalent_primary_energy,gdp_growth,gdp_per_capita,densitynpkm2,land_areakm2,latitude,longitude
0,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,302.59482,1.64,760.000000,NaN,NaN,NaN,60,652230.0,33.93911,67.709953
1,Afghanistan,2001,4.074574,7.2,8.86,130000.0,45.60,0.09,0.0,0.50,...,236.89185,1.74,730.000000,NaN,NaN,NaN,60,652230.0,33.93911,67.709953
2,Afghanistan,2002,9.409158,8.2,8.47,3950000.0,37.83,0.13,0.0,0.56,...,210.86215,1.40,1029.999971,NaN,NaN,179.426579,60,652230.0,33.93911,67.709953
3,Afghanistan,2003,14.738506,9.5,8.09,25970000.0,36.66,0.31,0.0,0.63,...,229.96822,1.40,1220.000029,NaN,8.832278,190.683814,60,652230.0,33.93911,67.709953
4,Afghanistan,2004,20.064968,10.9,7.75,NaN,44.24,0.33,0.0,0.56,...,204.23125,1.20,1029.999971,NaN,1.414118,211.382074,60,652230.0,33.93911,67.709953

In [39]:
df_energy.info() # Display the structure of the energy dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3649 entries, 0 to 3648
Data columns (total 21 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   country                                                        3649 non-null   object
 1   year                                                           3649 non-null   int32
 2   access_to_electricity_of_population                            3639 non-null   float64
 3   access_to_clean_fuels_for_cooking                              3480 non-null   float64
 4   renewableelectricitygeneratingcapacitypercapita                2718 non-null   float64
 5   financial_flows_to_developing_countries_us_                    1560 non-null   float64
 6   renewable_energy_share_in_the_total_final_energy_consumption_  3455 non-null   float64
 7   electricity_from_fossil_fuels_twh                              3628 non-null   float64
 8   electricity_from_nuclear_twh                                   3523 non-null   float64
 9   electricity_from_renewables_twh                                3628 non-null   float64
 10  lowcarbon_electricity_electricity                              3607 non-null   float64
 11  primary_energy_consumption_per_capita_kwhperson                3649 non-null   float64
 12  energy_intensity_level_of_primary_energy_mj2017_ppp_gdp        3442 non-null   float64
 13  value_co2_emissions_kt_by_country                              3221 non-null   float64
 14  renewables_equivalent_primary_energy                           1512 non-null   float64
 15  gdp_growth                                                     3332 non-null   float64
 16  gdp_per_capita                                                 3367 non-null   float64
 17  densitynpkm2                                                   3648 non-null   object
 18  land_areakm2                                                   3648 non-null   float64
 19  latitude                                                       3648 non-null   float64
 20  longitude                                                      3648 non-null   float64
dtypes: float64(18), int32(1), object(2)
memory usage: 584.5+ KB

**Step 7: Clean and Filter the Population Dataset**

This step filters out regional aggregates and retains only country-level data to align with the energy dataset.

In [40]:
# Keep only rows with total population indicator
df_population = df_population[df_population['indicator_id'] == 'WB_WDI_SP_POP_TOTL']

# Filter for countries that match those in the energy dataset
valid_countries = df_energy['country'].unique()
df_population = df_population[df_population['ref_area_name'].isin(valid_countries)]

# Select and rename columns
df_population = df_population[['ref_area_name', 'time_period', 'obs_value']].copy()
df_population.columns = ['country', 'year', 'population']

# Convert datatypes
df_population['year'] = df_population['year'].astype(int)
df_population['population'] = pd.to_numeric(df_population['population'], errors='coerce')

**Step 8: Clean the Region Mapping Dataset**

In [41]:
# Select and rename relevant columns
df_region = df_region[['country_or_area', 'region_name', 'subregion_name']].copy()
df_region.columns = ['country', 'region', 'subregion']

**Step 9: Merge the Datasets**

In [42]:
# Merge energy and population datasets on country and year
df_merged = pd.merge(df_energy, df_population, on=['country', 'year'], how='left')

# Merge with region mapping on country
df_final = pd.merge(df_merged, df_region, on='country', how='left')

**Step 10: Inspect the Final Merged Dataset**

In [43]:
print("Final Dataset:")
print(df_final.shape)
df_final.info()
print(df_final.isnull().sum())

Final Dataset:
(3649, 24)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3649 entries, 0 to 3648
Data columns (total 24 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   country                                                        3649 non-null   object
 1   year                                                           3649 non-null   int32
 2   access_to_electricity_of_population                            3639 non-null   float64
 3   access_to_clean_fuels_for_cooking                              3480 non-null   float64
 4   renewableelectricitygeneratingcapacitypercapita                2718 non-null   float64
 5   financial_flows_to_developing_countries_us_                    1560 non-null   float64
 6   renewable_energy_share_in_the_total_final_energy_consumption_  3455 non-null   float64
 7   electricity_from_fossil_fuels_twh                              3628 non-null   float64
 8   electricity_from_nuclear_twh                                   3523 non-null   float64
 9   electricity_from_renewables_twh                                3628 non-null   float64
 10  lowcarbon_electricity_electricity                              3607 non-null   float64
 11  primary_energy_consumption_per_capita_kwhperson                3649 non-null   float64
 12  energy_intensity_level_of_primary_energy_mj2017_ppp_gdp        3442 non-null   float64
 13  value_co2_emissions_kt_by_country                              3221 non-null   float64
 14  renewables_equivalent_primary_energy                           1512 non-null   float64
 15  gdp_growth                                                     3332 non-null   float64
 16  gdp_per_capita                                                 3367 non-null   float64
 17  densitynpkm2                                                   3648 non-null   object
 18  land_areakm2                                                   3648 non-null   float64
 19  latitude                                                       3648 non-null   float64
 20  longitude                                                      3648 non-null   float64
 21  population                                                     3417 non-null   float64
 22  region                                                         3565 non-null   object
 23  subregion                                                      3565 non-null   object
dtypes: float64(19), int32(1), object(4)
memory usage: 670.1+ KB
country                                                             0
year                                                                0
access_to_electricity_of_population                                10
access_to_clean_fuels_for_cooking                                 169
renewableelectricitygeneratingcapacitypercapita                   931
financial_flows_to_developing_countries_us_                      2089
renewable_energy_share_in_the_total_final_energy_consumption_     194
electricity_from_fossil_fuels_twh                                  21
electricity_from_nuclear_twh                                      126
electricity_from_renewables_twh                                    21
lowcarbon_electricity_electricity                                  42
primary_energy_consumption_per_capita_kwhperson                     0
energy_intensity_level_of_primary_energy_mj2017_ppp_gdp           207
value_co2_emissions_kt_by_country                                 428
renewables_equivalent_primary_energy                             2137
gdp_growth                                                        317
gdp_per_capita                                                    282
densitynpkm2                                                        1
land_areakm2                                                        1
latitude                                                            1
longitude                                                           1
population                                                        232
region                                                             84
subregion                                                          84
dtype: int64

In [ ]:
# Rename some inconsistent label names
df_final.rename(columns={
    'renewableelectricitygeneratingcapacitypercapita': 'renewable_electricity_generating_capacity_per_capita',
    'densitynpkm2': 'density_per_km2',
    'land_areakm2': 'land_area_km2'
}, inplace=True)

In [45]:
# Check updated column names
df_final.columns.tolist()

['country',
 'year',
 'access_to_electricity_of_population',
 'access_to_clean_fuels_for_cooking',
 'renewable_electricity_generating_capacity_per_capita',
 'financial_flows_to_developing_countries_us_',
 'renewable_energy_share_in_the_total_final_energy_consumption_',
 'electricity_from_fossil_fuels_twh',
 'electricity_from_nuclear_twh',
 'electricity_from_renewables_twh',
 'lowcarbon_electricity_electricity',
 'primary_energy_consumption_per_capita_kwhperson',
 'energy_intensity_level_of_primary_energy_mj2017_ppp_gdp',
 'value_co2_emissions_kt_by_country',
 'renewables_equivalent_primary_energy',
 'gdp_growth',
 'gdp_per_capita',
 'density_per_km2',
 'land_area_km2',
 'latitude',
 'longitude',
 'population',
 'region',
 'subregion']

In [46]:
# Rename some columns in the final dataset for clarity and consistency
df_final.rename(columns={
    'access_to_electricity_of_population': 'access_to_electricity_pct',
    'financial_flows_to_developing_countries_us_': 'financial_support_to_developing_countries_usd',
    'renewable_energy_share_in_the_total_final_energy_consumption_': 'renewable_energy_share_in_the_total_final_energy_consumption_pct',
    'lowcarbon_electricity_electricity': 'low_carbon_electricity_pct',
    'primary_energy_consumption_per_capita_kwhperson': 'primary_energy_consumption_per_capita_kwh_per_person',
    'renewables_equivalent_primary_energy': 'renewables_equivalent_primary_energy_pct'
}, inplace=True)

In [47]:
# Check updated column names
df_final.columns.tolist()

['country',
 'year',
 'access_to_electricity_pct',
 'access_to_clean_fuels_for_cooking',
 'renewable_electricity_generating_capacity_per_capita',
 'financial_support_to_developing_countries_usd',
 'renewable_energy_share_in_the_total_final_energy_consumption_pct',
 'electricity_from_fossil_fuels_twh',
 'electricity_from_nuclear_twh',
 'electricity_from_renewables_twh',
 'low_carbon_electricity_pct',
 'primary_energy_consumption_per_capita_kwh_per_person',
 'energy_intensity_level_of_primary_energy_mj2017_ppp_gdp',
 'value_co2_emissions_kt_by_country',
 'renewables_equivalent_primary_energy_pct',
 'gdp_growth',
 'gdp_per_capita',
 'density_per_km2',
 'land_area_km2',
 'latitude',
 'longitude',
 'population',
 'region',
 'subregion']

**Step 11: Save Cleaned Dataset**

In [49]:
import os

# Save the cleaned dataset as CSV inside the folder
df_final.to_csv("../data/cleaned/enhanced_energy_dataset.csv", index=False)

In [51]:
# Read the cleaned dataset to verify eerything is saved correctly
df_cleaned = pd.read_csv("../data/cleaned/enhanced_energy_dataset.csv")

# Preview the first few rows
df_cleaned.head()

,country,year,access_to_electricity_pct,access_to_clean_fuels_for_cooking,renewable_electricity_generating_capacity_per_capita,financial_support_to_developing_countries_usd,renewable_energy_share_in_the_total_final_energy_consumption_pct,electricity_from_fossil_fuels_twh,electricity_from_nuclear_twh,electricity_from_renewables_twh,...,renewables_equivalent_primary_energy_pct,gdp_growth,gdp_per_capita,density_per_km2,land_area_km2,latitude,longitude,population,region,subregion
0,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,NaN,NaN,NaN,60,652230.0,33.93911,67.709953,20130327.0,Asia,Southern Asia
1,Afghanistan,2001,4.074574,7.2,8.86,130000.0,45.60,0.09,0.0,0.50,...,NaN,NaN,NaN,60,652230.0,33.93911,67.709953,20284307.0,Asia,Southern Asia
2,Afghanistan,2002,9.409158,8.2,8.47,3950000.0,37.83,0.13,0.0,0.56,...,NaN,NaN,179.426579,60,652230.0,33.93911,67.709953,21378117.0,Asia,Southern Asia
3,Afghanistan,2003,14.738506,9.5,8.09,25970000.0,36.66,0.31,0.0,0.63,...,NaN,8.832278,190.683814,60,652230.0,33.93911,67.709953,22733049.0,Asia,Southern Asia
4,Afghanistan,2004,20.064968,10.9,7.75,NaN,44.24,0.33,0.0,0.56,...,NaN,1.414118,211.382074,60,652230.0,33.93911,67.709953,23560654.0,Asia,Southern Asia

In [52]:
df_cleaned.info()  # Display the structure of the cleaned dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3649 entries, 0 to 3648
Data columns (total 24 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   country                                                           3649 non-null   object
 1   year                                                              3649 non-null   int64
 2   access_to_electricity_pct                                         3639 non-null   float64
 3   access_to_clean_fuels_for_cooking                                 3480 non-null   float64
 4   renewable_electricity_generating_capacity_per_capita              2718 non-null   float64
 5   financial_support_to_developing_countries_usd                     1560 non-null   float64
 6   renewable_energy_share_in_the_total_final_energy_consumption_pct  3455 non-null   float64
 7   electricity_from_fossil_fuels_twh                                 3628 non-null   float64
 8   electricity_from_nuclear_twh                                      3523 non-null   float64
 9   electricity_from_renewables_twh                                   3628 non-null   float64
 10  low_carbon_electricity_pct                                        3607 non-null   float64
 11  primary_energy_consumption_per_capita_kwh_per_person              3649 non-null   float64
 12  energy_intensity_level_of_primary_energy_mj2017_ppp_gdp           3442 non-null   float64
 13  value_co2_emissions_kt_by_country                                 3221 non-null   float64
 14  renewables_equivalent_primary_energy_pct                          1512 non-null   float64
 15  gdp_growth                                                        3332 non-null   float64
 16  gdp_per_capita                                                    3367 non-null   float64
 17  density_per_km2                                                   3648 non-null   object
 18  land_area_km2                                                     3648 non-null   float64
 19  latitude                                                          3648 non-null   float64
 20  longitude                                                         3648 non-null   float64
 21  population                                                        3417 non-null   float64
 22  region                                                            3565 non-null   object
 23  subregion                                                         3565 non-null   object
dtypes: float64(19), int64(1), object(4)
memory usage: 684.3+ KB

In [54]:
df_cleaned.shape

(3649, 24)

In [55]:
# check null values
df_cleaned.isnull().sum()

country                                                                0
year                                                                   0
access_to_electricity_pct                                             10
access_to_clean_fuels_for_cooking                                    169
renewable_electricity_generating_capacity_per_capita                 931
financial_support_to_developing_countries_usd                       2089
renewable_energy_share_in_the_total_final_energy_consumption_pct     194
electricity_from_fossil_fuels_twh                                     21
electricity_from_nuclear_twh                                         126
electricity_from_renewables_twh                                       21
low_carbon_electricity_pct                                            42
primary_energy_consumption_per_capita_kwh_per_person                   0
energy_intensity_level_of_primary_energy_mj2017_ppp_gdp              207
value_co2_emissions_kt_by_country                                    428
renewables_equivalent_primary_energy_pct                            2137
gdp_growth                                                           317
gdp_per_capita                                                       282
density_per_km2                                                        1
land_area_km2                                                          1
latitude                                                               1
longitude                                                              1
population                                                           232
region                                                                84
subregion                                                             84
dtype: int64

In [56]:
#check for duplicates
df_cleaned.duplicated().sum()

0

### **TRANSFORM DATA**

Handle missing values for key columns

In [58]:
# Sort by country and year to prepare for time-series interpolation
df_final.sort_values(['country', 'year'], inplace=True)

In [59]:
# Interpolate time-series numeric columns for analysis 
cols_to_interpolate = [
    'renewable_energy_share_in_the_total_final_energy_consumption_pct',
    'value_co2_emissions_kt_by_country',
    'population',
    'energy_intensity_level_of_primary_energy_mj2017_ppp_gdp',
    'gdp_per_capita',
    'access_to_electricity_pct',
    'access_to_clean_fuels_for_cooking',
    'renewable_electricity_generating_capacity_per_capita',
    'electricity_from_fossil_fuels_twh',
    'electricity_from_nuclear_twh',
    'electricity_from_renewables_twh',
    'low_carbon_electricity_pct',
    'gdp_growth'
]

In [62]:
# Interpolate missing values for selected columns within each country group

df_final[cols_to_interpolate] = (
    df_final.groupby('country')[cols_to_interpolate]
    .transform(lambda group: group.interpolate())
)

In [63]:
# Forward/backward fill for country-level static fields (latitude, longitude, area, density)
geo_cols = ['latitude', 'longitude', 'density_per_km2', 'land_area_km2']
df_final[geo_cols] = df_final.groupby('country')[geo_cols].transform(lambda g: g.ffill().bfill())

In [64]:
# Fill region and subregion per country as they don’t change over time
df_final[['region', 'subregion']] = df_final.groupby('country')[['region', 'subregion']].transform(lambda g: g.ffill().bfill())

In [65]:
# Fill financial support with 0 (assumes missing = no support)
df_final['financial_support_to_developing_countries_usd'] = df_final['financial_support_to_developing_countries_usd'].fillna(0)

In [66]:
# Final check: Remaining missing values summary
missing_summary = df_final.isnull().sum()
print("Remaining missing values per column:")
print(missing_summary[missing_summary > 0])

Remaining missing values per column:
access_to_electricity_pct                                             10
access_to_clean_fuels_for_cooking                                    169
renewable_electricity_generating_capacity_per_capita                 931
renewable_energy_share_in_the_total_final_energy_consumption_pct      21
electricity_from_fossil_fuels_twh                                     21
electricity_from_nuclear_twh                                         126
electricity_from_renewables_twh                                       21
low_carbon_electricity_pct                                            42
energy_intensity_level_of_primary_energy_mj2017_ppp_gdp               22
value_co2_emissions_kt_by_country                                    253
renewables_equivalent_primary_energy_pct                            2137
gdp_growth                                                           279
gdp_per_capita                                                       264
density_per_km2                                                        1
land_area_km2                                                          1
latitude                                                               1
longitude                                                              1
population                                                           232
region                                                                84
subregion                                                             84
dtype: int64

Forward/Backward Fill for Remaining Time Series Columns
If missing values still exist within countries, use fill forward and backward.

In [71]:
# Continue to handle any remaining missing values from previous steps

additional_cols = [
    'access_to_electricity_pct',
    'access_to_clean_fuels_for_cooking',
    'electricity_from_fossil_fuels_twh',
    'electricity_from_nuclear_twh',
    'electricity_from_renewables_twh',
    'low_carbon_electricity_pct',
    'gdp_growth',
    'gdp_per_capita'
]

df_final[additional_cols] = df_final.groupby('country')[additional_cols].transform(lambda g: g.ffill().bfill())

In [72]:
# Fill Static Data (Land Area, Lat/Lon, Population)

static_cols = ['density_per_km2', 'land_area_km2', 'latitude', 'longitude', 'population']

df_final[static_cols] = df_final.groupby('country')[static_cols].transform(lambda g: g.ffill().bfill())

In [ ]:
# Flag non-core high-missing columns that are not essential for hypotheses analysis

df_final['renewables_equivalent_primary_energy_pct_missing'] = df_final['renewables_equivalent_primary_energy_pct'].isnull().astype(int)

In [75]:
# Sanity check missing values
df_final.isnull().sum()

country                                                                0
year                                                                   0
access_to_electricity_pct                                              1
access_to_clean_fuels_for_cooking                                    169
renewable_electricity_generating_capacity_per_capita                 931
financial_support_to_developing_countries_usd                          0
renewable_energy_share_in_the_total_final_energy_consumption_pct      21
electricity_from_fossil_fuels_twh                                     21
electricity_from_nuclear_twh                                         126
electricity_from_renewables_twh                                       21
low_carbon_electricity_pct                                            42
primary_energy_consumption_per_capita_kwh_per_person                   0
energy_intensity_level_of_primary_energy_mj2017_ppp_gdp               22
value_co2_emissions_kt_by_country                                    253
renewables_equivalent_primary_energy_pct                            2137
gdp_growth                                                           232
gdp_per_capita                                                       232
density_per_km2                                                        1
land_area_km2                                                          1
latitude                                                               1
longitude                                                              1
population                                                           232
region                                                                84
subregion                                                             84
renewables_equivalent_primary_energy_pct_missing                       0
dtype: int64

In [ ]:
# Handling remaining missing values
# Use interpolation for Columns with continuous, numeric values that likely follow a trend over time

interpolate_cols = [
    'access_to_electricity_pct',
    'renewable_energy_share_in_the_total_final_energy_consumption_pct',
    'electricity_from_fossil_fuels_twh',
    'electricity_from_nuclear_twh',
    'electricity_from_renewables_twh',
    'low_carbon_electricity_pct',
    'energy_intensity_level_of_primary_energy_mj2017_ppp_gdp',
    'value_co2_emissions_kt_by_country',
    'gdp_growth',
    'gdp_per_capita'
]

# Interpolate within each country
df_final[interpolate_cols] = (
    df_final.groupby('country')[interpolate_cols]
    .transform(lambda g: g.interpolate())
)

# Then forward/backward fill remaining gaps within each country
df_final[interpolate_cols] = (
    df_final.groupby('country')[interpolate_cols]
    .transform(lambda g: g.ffill().bfill())
)

In [77]:
# Fill static geo data

geo_cols = ['density_per_km2', 'land_area_km2', 'latitude', 'longitude', 'population']

df_final[geo_cols] = (
    df_final.groupby('country')[geo_cols]
    .transform(lambda g: g.ffill().bfill())
)

In [78]:
# Flag Missing Values for non-core columns

non_core_cols_to_flag = [
    'access_to_clean_fuels_for_cooking',
    'renewable_electricity_generating_capacity_per_capita',
    'renewables_equivalent_primary_energy_pct',
    'region',
    'subregion'
]
for col in non_core_cols_to_flag:
    df_final[f'{col}_missing'] = df_final[col].isnull().astype(int)

In [79]:
# Check how many rows are missing in each of the flagged columns
df_final[[f"{col}_missing" for col in non_core_cols_to_flag]].sum()

access_to_clean_fuels_for_cooking_missing                        169
renewable_electricity_generating_capacity_per_capita_missing     931
renewables_equivalent_primary_energy_pct_missing                2137
region_missing                                                    84
subregion_missing                                                 84
dtype: int64

In [80]:
# Final check for remaining missing values 
missing = df_final.isnull().sum()
print("Remaining missing values:\n", missing[missing > 0])

Remaining missing values:
 access_to_electricity_pct                                              1
access_to_clean_fuels_for_cooking                                    169
renewable_electricity_generating_capacity_per_capita                 931
renewable_energy_share_in_the_total_final_energy_consumption_pct      21
electricity_from_fossil_fuels_twh                                     21
electricity_from_nuclear_twh                                         126
electricity_from_renewables_twh                                       21
low_carbon_electricity_pct                                            42
energy_intensity_level_of_primary_energy_mj2017_ppp_gdp               22
value_co2_emissions_kt_by_country                                    253
renewables_equivalent_primary_energy_pct                            2137
gdp_growth                                                           232
gdp_per_capita                                                       232
density_per_km2                                                        1
land_area_km2                                                          1
latitude                                                               1
longitude                                                              1
population                                                           232
region                                                                84
subregion                                                             84
dtype: int64

In [81]:
# Review remaining missing values (including core columns)
df_final.isnull().sum().sort_values(ascending=False)

renewables_equivalent_primary_energy_pct                            2137
renewable_electricity_generating_capacity_per_capita                 931
value_co2_emissions_kt_by_country                                    253
population                                                           232
gdp_per_capita                                                       232
gdp_growth                                                           232
access_to_clean_fuels_for_cooking                                    169
electricity_from_nuclear_twh                                         126
region                                                                84
subregion                                                             84
low_carbon_electricity_pct                                            42
energy_intensity_level_of_primary_energy_mj2017_ppp_gdp               22
electricity_from_renewables_twh                                       21
electricity_from_fossil_fuels_twh                                     21
renewable_energy_share_in_the_total_final_energy_consumption_pct      21
density_per_km2                                                        1
land_area_km2                                                          1
latitude                                                               1
longitude                                                              1
access_to_electricity_pct                                              1
renewable_electricity_generating_capacity_per_capita_missing           0
renewables_equivalent_primary_energy_pct_missing                       0
access_to_clean_fuels_for_cooking_missing                              0
region_missing                                                         0
country                                                                0
year                                                                   0
primary_energy_consumption_per_capita_kwh_per_person                   0
financial_support_to_developing_countries_usd                          0
subregion_missing                                                      0
dtype: int64

### Handling Missing Data

After data cleaning and transformation, some missing values remain in the dataset. These are primarily found in:

- **Non-core fields** such as `renewable_electricity_generating_capacity_per_capita`, `access_to_clean_fuels_for_cooking`, and `region/subregion`.  
  These were **flagged** rather than filled, as they are not essential to the hypotheses being tested.

- **Time series metrics** like `value_co2_emissions_kt_by_country` and electricity-related fields, where missing values at the start or end of a country's timeline could not be interpolated.

- **Static attributes** such as `population`, `land_area_km2`, `latitude`, and `longitude`, where only minor gaps remain. These were either **filled with forward/backward fill** or **flagged** when it's uncertain.

These remaining gaps do **not materially impact** the core hypotheses, which focus on:
- The relationship between **renewables share and CO₂ per capita**,
- The effect of crossing a **30% renewables tipping point**, and
- The correlation between **energy intensity and emissions**.

Careful decisions were made to preserve data quality and avoid introducing bias during analysis.

In [82]:
# Save the final cleaned dataset as CSV inside the cleaned folder
df_final.to_csv("../data/cleaned/enhanced_energy_dataset_final.csv", index=False)

In [83]:
df_final_check = pd.read_csv("../data/cleaned/enhanced_energy_dataset_final.csv")
df_final_check.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3649 entries, 0 to 3648
Data columns (total 29 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   country                                                           3649 non-null   object
 1   year                                                              3649 non-null   int64
 2   access_to_electricity_pct                                         3648 non-null   float64
 3   access_to_clean_fuels_for_cooking                                 3480 non-null   float64
 4   renewable_electricity_generating_capacity_per_capita              2718 non-null   float64
 5   financial_support_to_developing_countries_usd                     3649 non-null   float64
 6   renewable_energy_share_in_the_total_final_energy_consumption_pct  3628 non-null   float64
 7   electricity_from_fossil_fuels_twh                                 3628 non-null   float64
 8   electricity_from_nuclear_twh                                      3523 non-null   float64
 9   electricity_from_renewables_twh                                   3628 non-null   float64
 10  low_carbon_electricity_pct                                        3607 non-null   float64
 11  primary_energy_consumption_per_capita_kwh_per_person              3649 non-null   float64
 12  energy_intensity_level_of_primary_energy_mj2017_ppp_gdp           3627 non-null   float64
 13  value_co2_emissions_kt_by_country                                 3396 non-null   float64
 14  renewables_equivalent_primary_energy_pct                          1512 non-null   float64
 15  gdp_growth                                                        3417 non-null   float64
 16  gdp_per_capita                                                    3417 non-null   float64
 17  density_per_km2                                                   3648 non-null   object
 18  land_area_km2                                                     3648 non-null   float64
 19  latitude                                                          3648 non-null   float64
 20  longitude                                                         3648 non-null   float64
 21  population                                                        3417 non-null   float64
 22  region                                                            3565 non-null   object
 23  subregion                                                         3565 non-null   object
 24  renewables_equivalent_primary_energy_pct_missing                  3649 non-null   int64
 25  access_to_clean_fuels_for_cooking_missing                         3649 non-null   int64
 26  renewable_electricity_generating_capacity_per_capita_missing      3649 non-null   int64
 27  region_missing                                                    3649 non-null   int64
 28  subregion_missing                                                 3649 non-null   int64
dtypes: float64(19), int64(6), object(4)
memory usage: 826.9+ KB

In [84]:
df_final.shape

(3649, 29)

In [85]:
df_final.columns.tolist()

['country',
 'year',
 'access_to_electricity_pct',
 'access_to_clean_fuels_for_cooking',
 'renewable_electricity_generating_capacity_per_capita',
 'financial_support_to_developing_countries_usd',
 'renewable_energy_share_in_the_total_final_energy_consumption_pct',
 'electricity_from_fossil_fuels_twh',
 'electricity_from_nuclear_twh',
 'electricity_from_renewables_twh',
 'low_carbon_electricity_pct',
 'primary_energy_consumption_per_capita_kwh_per_person',
 'energy_intensity_level_of_primary_energy_mj2017_ppp_gdp',
 'value_co2_emissions_kt_by_country',
 'renewables_equivalent_primary_energy_pct',
 'gdp_growth',
 'gdp_per_capita',
 'density_per_km2',
 'land_area_km2',
 'latitude',
 'longitude',
 'population',
 'region',
 'subregion',
 'renewables_equivalent_primary_energy_pct_missing',
 'access_to_clean_fuels_for_cooking_missing',
 'renewable_electricity_generating_capacity_per_capita_missing',
 'region_missing',
 'subregion_missing']

In [96]:
# Renaming verbose columns for readability and maintainability

df_final = df_final.rename(columns={
     # Access metrics
    'access_to_electricity_pct':                         'elec_access_pct',
    'access_to_clean_fuels_for_cooking':                 'clean_fuels_access_pct',

    # Capacity & finance
    'renewable_electricity_generating_capacity_per_capita': 'renew_cap_kw_pc',
    'financial_support_to_developing_countries_usd':     'climate_finance_usd',

    # Energy shares
    'renewable_energy_share_in_the_total_final_energy_consumption_pct': 'renewables_share_pct',
    'renewables_equivalent_primary_energy_pct':          'renew_equiv_primary_pct',

    # Electricity generation (TWh)
    'electricity_from_fossil_fuels_twh':                 'fossil_elec_twh',
    'electricity_from_nuclear_twh':                      'nuclear_elec_twh',
    'electricity_from_renewables_twh':                   'renew_elec_twh',
    'low_carbon_electricity_pct':                        'low_carbon_elec_pct',

    # Consumption & intensity
    'primary_energy_consumption_per_capita_kwh_per_person': 'primary_energy_kwh_pc',
    'energy_intensity_level_of_primary_energy_mj2017_ppp_gdp': 'energy_intensity_mj_usd',

    # Emissions & economy
    'value_co2_emissions_kt_by_country':                 'co2_emissions_kt',
    'gdp_growth':                                        'gdp_growth_pct',
    'gdp_per_capita':                                    'gdp_pc_usd',

    # Geography
    'density_per_km2':                                   'pop_density_per_km2',
   
    # Missing‑value flags
    'renewables_equivalent_primary_energy_pct_missing':        'renew_equiv_primary_pct_miss',
    'access_to_clean_fuels_for_cooking_missing':               'clean_fuels_access_pct_miss',
    'renewable_electricity_generating_capacity_per_capita_missing': 'renew_cap_kw_pc_miss',
    'region_missing':                                         'region_miss',
    'subregion_missing':                                      'subregion_miss',
})

# 3. Verify renaming
df_final.columns.tolist()

['country',
 'year',
 'elec_access_pct',
 'clean_fuels_access_pct',
 'renew_cap_kw_pc',
 'climate_finance_usd',
 'renewables_share_pct',
 'fossil_elec_twh',
 'nuclear_elec_twh',
 'renew_elec_twh',
 'low_carbon_elec_pct',
 'primary_energy_kwh_pc',
 'energy_intensity_mj_usd',
 'co2_emissions_kt',
 'renew_equiv_primary_pct',
 'gdp_growth_pct',
 'gdp_pc_usd',
 'pop_density_per_km2',
 'land_area_km2',
 'latitude',
 'longitude',
 'population',
 'region',
 'subregion',
 'renew_equiv_primary_pct_miss',
 'clean_cooking_access_pct_miss',
 'renew_cap_kw_pc_miss',
 'region_miss',
 'subregion_miss']

In [97]:
# remname label
df_final.rename(columns={
    'access_to_clean_fuels_for_cooking_missing': 'clean_fuels_access_pct_miss'
}, inplace=True)

In [98]:
# Verify renaming
df_final.columns.tolist()

['country',
 'year',
 'elec_access_pct',
 'clean_fuels_access_pct',
 'renew_cap_kw_pc',
 'climate_finance_usd',
 'renewables_share_pct',
 'fossil_elec_twh',
 'nuclear_elec_twh',
 'renew_elec_twh',
 'low_carbon_elec_pct',
 'primary_energy_kwh_pc',
 'energy_intensity_mj_usd',
 'co2_emissions_kt',
 'renew_equiv_primary_pct',
 'gdp_growth_pct',
 'gdp_pc_usd',
 'pop_density_per_km2',
 'land_area_km2',
 'latitude',
 'longitude',
 'population',
 'region',
 'subregion',
 'renew_equiv_primary_pct_miss',
 'clean_cooking_access_pct_miss',
 'renew_cap_kw_pc_miss',
 'region_miss',
 'subregion_miss']

In [99]:
df_final.head()  # Display the first few rows of the final cleaned dataset

,country,year,elec_access_pct,clean_fuels_access_pct,renew_cap_kw_pc,climate_finance_usd,renewables_share_pct,fossil_elec_twh,nuclear_elec_twh,renew_elec_twh,...,latitude,longitude,population,region,subregion,renew_equiv_primary_pct_miss,clean_cooking_access_pct_miss,renew_cap_kw_pc_miss,region_miss,subregion_miss
0,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,33.93911,67.709953,20130327.0,Asia,Southern Asia,1,0,0,0,0
1,Afghanistan,2001,4.074574,7.2,8.86,130000.0,45.60,0.09,0.0,0.50,...,33.93911,67.709953,20284307.0,Asia,Southern Asia,1,0,0,0,0
2,Afghanistan,2002,9.409158,8.2,8.47,3950000.0,37.83,0.13,0.0,0.56,...,33.93911,67.709953,21378117.0,Asia,Southern Asia,1,0,0,0,0
3,Afghanistan,2003,14.738506,9.5,8.09,25970000.0,36.66,0.31,0.0,0.63,...,33.93911,67.709953,22733049.0,Asia,Southern Asia,1,0,0,0,0
4,Afghanistan,2004,20.064968,10.9,7.75,0.0,44.24,0.33,0.0,0.56,...,33.93911,67.709953,23560654.0,Asia,Southern Asia,1,0,0,0,0

In [100]:
# remname label
df_final.rename(columns={
    'clean_cooking_access_pct_miss': 'clean_fuels_access_pct_miss'
}, inplace=True)

In [101]:
df_final.columns.tolist()  # Check updated column names

['country',
 'year',
 'elec_access_pct',
 'clean_fuels_access_pct',
 'renew_cap_kw_pc',
 'climate_finance_usd',
 'renewables_share_pct',
 'fossil_elec_twh',
 'nuclear_elec_twh',
 'renew_elec_twh',
 'low_carbon_elec_pct',
 'primary_energy_kwh_pc',
 'energy_intensity_mj_usd',
 'co2_emissions_kt',
 'renew_equiv_primary_pct',
 'gdp_growth_pct',
 'gdp_pc_usd',
 'pop_density_per_km2',
 'land_area_km2',
 'latitude',
 'longitude',
 'population',
 'region',
 'subregion',
 'renew_equiv_primary_pct_miss',
 'clean_fuels_access_pct_miss',
 'renew_cap_kw_pc_miss',
 'region_miss',
 'subregion_miss']

In [104]:
# Define  final column labels in the exact order
new_cols = [
    'country',
    'year',
    'elec_access_pct',
    'clean_fuels_access_pct',
    'renew_cap_kw_pc',
    'climate_finance_usd',
    'renewables_share_pct',
    'fossil_elec_twh',
    'nuclear_elec_twh',
    'renew_elec_twh',
    'low_carbon_elec_pct',
    'primary_energy_kwh_pc',
    'energy_intensity_mj_usd',
    'co2_emissions_kt',
    'renew_equiv_primary_pct',
    'gdp_growth_pct',
    'gdp_pc_usd',
    'pop_density_per_km2',
    'land_area_km2',
    'latitude',
    'longitude',
    'population',
    'region',
    'subregion',
    'renew_equiv_primary_pct_miss',
    'clean_fuels_access_pct_miss',
    'renew_cap_kw_pc_miss',
    'region_miss',
    'subregion_miss'
]

# 3. Assign these labels
assert len(new_cols) == df_final.shape[1], "Column count mismatch!"
df_final.columns = new_cols

# 4. Verify
print(df_final.columns.tolist())

['country', 'year', 'elec_access_pct', 'clean_fuels_access_pct', 'renew_cap_kw_pc', 'climate_finance_usd', 'renewables_share_pct', 'fossil_elec_twh', 'nuclear_elec_twh', 'renew_elec_twh', 'low_carbon_elec_pct', 'primary_energy_kwh_pc', 'energy_intensity_mj_usd', 'co2_emissions_kt', 'renew_equiv_primary_pct', 'gdp_growth_pct', 'gdp_pc_usd', 'pop_density_per_km2', 'land_area_km2', 'latitude', 'longitude', 'population', 'region', 'subregion', 'renew_equiv_primary_pct_miss', 'clean_fuels_access_pct_miss', 'renew_cap_kw_pc_miss', 'region_miss', 'subregion_miss']

In [105]:
df_final.info()  # Display the structure of the final dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3649 entries, 0 to 3648
Data columns (total 29 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       3649 non-null   object
 1   year                          3649 non-null   int32
 2   elec_access_pct               3648 non-null   float64
 3   clean_fuels_access_pct        3480 non-null   float64
 4   renew_cap_kw_pc               2718 non-null   float64
 5   climate_finance_usd           3649 non-null   float64
 6   renewables_share_pct          3628 non-null   float64
 7   fossil_elec_twh               3628 non-null   float64
 8   nuclear_elec_twh              3523 non-null   float64
 9   renew_elec_twh                3628 non-null   float64
 10  low_carbon_elec_pct           3607 non-null   float64
 11  primary_energy_kwh_pc         3649 non-null   float64
 12  energy_intensity_mj_usd       3627 non-null   float64
 13  co2_emissions_kt              3396 non-null   float64
 14  renew_equiv_primary_pct       1512 non-null   float64
 15  gdp_growth_pct                3417 non-null   float64
 16  gdp_pc_usd                    3417 non-null   float64
 17  pop_density_per_km2           3648 non-null   object
 18  land_area_km2                 3648 non-null   float64
 19  latitude                      3648 non-null   float64
 20  longitude                     3648 non-null   float64
 21  population                    3417 non-null   float64
 22  region                        3565 non-null   object
 23  subregion                     3565 non-null   object
 24  renew_equiv_primary_pct_miss  3649 non-null   int32
 25  clean_fuels_access_pct_miss   3649 non-null   int32
 26  renew_cap_kw_pc_miss          3649 non-null   int32
 27  region_miss                   3649 non-null   int32
 28  subregion_miss                3649 non-null   int32
dtypes: float64(19), int32(6), object(4)
memory usage: 741.3+ KB

In [107]:
# convert pop density to numeric
df_final['pop_density_per_km2'] = pd.to_numeric(df_final['pop_density_per_km2'], errors='coerce')

In [108]:
# covert region and subregion to categorical
df_final['region'] = df_final['region'].astype('category')
df_final['subregion'] = df_final['subregion'].astype('category')

In [111]:
# Handle missing values
# Interpolate numeric time‑series by country using transform
num_cols = [
    'elec_access_pct', 'clean_fuels_access_pct', 'renew_cap_kw_pc',
    'renewables_share_pct','fossil_elec_twh','nuclear_elec_twh','renew_elec_twh',
    'low_carbon_elec_pct','primary_energy_kwh_pc','energy_intensity_mj_usd',
    'co2_emissions_kt','renew_equiv_primary_pct','gdp_growth_pct','gdp_pc_usd'
]

# Ensure proper time order
df_final = df_final.sort_values(['country','year'])

In [112]:
# Interpolate per country; transform preserves the original index
df_final[num_cols] = (
    df_final
      .groupby('country')[num_cols]
      .transform(lambda grp: grp.interpolate(method='linear'))
)

In [113]:
# Forward‑ and back‑fill any residual NaNs
df_final[num_cols] = df_final[num_cols].ffill().bfill()

In [114]:
# Verify no more nulls in those cols
print(df_final[num_cols].isnull().sum())

elec_access_pct            0
clean_fuels_access_pct     0
renew_cap_kw_pc            0
renewables_share_pct       0
fossil_elec_twh            0
nuclear_elec_twh           0
renew_elec_twh             0
low_carbon_elec_pct        0
primary_energy_kwh_pc      0
energy_intensity_mj_usd    0
co2_emissions_kt           0
renew_equiv_primary_pct    0
gdp_growth_pct             0
gdp_pc_usd                 0
dtype: int64

In [115]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3649 entries, 0 to 3648
Data columns (total 29 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       3649 non-null   object
 1   year                          3649 non-null   int32
 2   elec_access_pct               3649 non-null   float64
 3   clean_fuels_access_pct        3649 non-null   float64
 4   renew_cap_kw_pc               3649 non-null   float64
 5   climate_finance_usd           3649 non-null   float64
 6   renewables_share_pct          3649 non-null   float64
 7   fossil_elec_twh               3649 non-null   float64
 8   nuclear_elec_twh              3649 non-null   float64
 9   renew_elec_twh                3649 non-null   float64
 10  low_carbon_elec_pct           3649 non-null   float64
 11  primary_energy_kwh_pc         3649 non-null   float64
 12  energy_intensity_mj_usd       3649 non-null   float64
 13  co2_emissions_kt              3649 non-null   float64
 14  renew_equiv_primary_pct       3649 non-null   float64
 15  gdp_growth_pct                3649 non-null   float64
 16  gdp_pc_usd                    3649 non-null   float64
 17  pop_density_per_km2           3543 non-null   float64
 18  land_area_km2                 3648 non-null   float64
 19  latitude                      3648 non-null   float64
 20  longitude                     3648 non-null   float64
 21  population                    3417 non-null   float64
 22  region                        3565 non-null   category
 23  subregion                     3565 non-null   category
 24  renew_equiv_primary_pct_miss  3649 non-null   int32
 25  clean_fuels_access_pct_miss   3649 non-null   int32
 26  renew_cap_kw_pc_miss          3649 non-null   int32
 27  region_miss                   3649 non-null   int32
 28  subregion_miss                3649 non-null   int32
dtypes: category(2), float64(20), int32(6), object(1)
memory usage: 692.3+ KB

In [116]:
df_final.shape

(3649, 29)

### **Feature Engineering**

Generate derived variables to enable hypothesis testing and data visualisation.

In [117]:
# Per‑capita CO₂ 
df_final['co2_per_capita_t'] = df_final['co2_emissions_kt'] * 1e3 / df_final['population']

In [118]:
# Log‑transform skewed metrics to stabilize variance
for col in ['co2_per_capita_t', 'renewables_share_pct', 'energy_intensity_mj_usd', 'gdp_pc_usd']:
    df_final[f'log_{col}'] = np.log1p(df_final[col])

In [119]:
# Tipping‑point flag and time offset
df_final['above_30_pct'] = (df_final['renewables_share_pct'] >= 30).astype(int)
df_final['year_offset']  = df_final['year'] - df_final['year'].min()

In [121]:
# Compute a 3‑year rolling average of renewables_share_pct per country
df_final['renewables_3yr_avg'] = df_final \
    .groupby('country')['renewables_share_pct'] \
    .transform(lambda x: x.rolling(window=3, min_periods=1).mean())

In [122]:
# Final check
print(df_final[['co2_per_capita_t','log_co2_per_capita_t','above_30_pct','year_offset','renewables_3yr_avg']].head())

   co2_per_capita_t  log_co2_per_capita_t  above_30_pct  year_offset  \
0          0.037754              0.037059             1            0
1          0.035988              0.035356             1            1
2          0.048180              0.047055             1            2
3          0.053666              0.052276             1            3
4          0.043717              0.042788             1            4

   renewables_3yr_avg
0           44.990000
1           45.295000
2           42.806667
3           40.030000
4           39.576667

In [126]:
# Save featured dataset
df_final.to_csv('../data/cleaned/enhanced_energy_features.csv', index=False)

In [127]:
# compare df_final to df_features to make sure the features are correctly added
# Load both datasets
df_final = pd.read_csv("../data/cleaned/enhanced_energy_dataset_final.csv")
df_features = pd.read_csv("../data/cleaned/enhanced_energy_features.csv")

In [128]:
# Compare basic structure

print("Final CSV shape:", df_final.shape)
print("Features CSV shape:", df_features.shape)

print("\nFinal columns:")
print(df_final.columns.tolist())

print("\nFeatures columns:")
print(df_features.columns.tolist())

Final CSV shape: (3649, 29)
Features CSV shape: (3649, 37)

Final columns:
['country', 'year', 'access_to_electricity_pct', 'access_to_clean_fuels_for_cooking', 'renewable_electricity_generating_capacity_per_capita', 'financial_support_to_developing_countries_usd', 'renewable_energy_share_in_the_total_final_energy_consumption_pct', 'electricity_from_fossil_fuels_twh', 'electricity_from_nuclear_twh', 'electricity_from_renewables_twh', 'low_carbon_electricity_pct', 'primary_energy_consumption_per_capita_kwh_per_person', 'energy_intensity_level_of_primary_energy_mj2017_ppp_gdp', 'value_co2_emissions_kt_by_country', 'renewables_equivalent_primary_energy_pct', 'gdp_growth', 'gdp_per_capita', 'density_per_km2', 'land_area_km2', 'latitude', 'longitude', 'population', 'region', 'subregion', 'renewables_equivalent_primary_energy_pct_missing', 'access_to_clean_fuels_for_cooking_missing', 'renewable_electricity_generating_capacity_per_capita_missing', 'region_missing', 'subregion_missing']

Features columns:
['country', 'year', 'elec_access_pct', 'clean_fuels_access_pct', 'renew_cap_kw_pc', 'climate_finance_usd', 'renewables_share_pct', 'fossil_elec_twh', 'nuclear_elec_twh', 'renew_elec_twh', 'low_carbon_elec_pct', 'primary_energy_kwh_pc', 'energy_intensity_mj_usd', 'co2_emissions_kt', 'renew_equiv_primary_pct', 'gdp_growth_pct', 'gdp_pc_usd', 'pop_density_per_km2', 'land_area_km2', 'latitude', 'longitude', 'population', 'region', 'subregion', 'renew_equiv_primary_pct_miss', 'clean_fuels_access_pct_miss', 'renew_cap_kw_pc_miss', 'region_miss', 'subregion_miss', 'co2_per_capita_t', 'log_co2_per_capita_t', 'log_renewables_share_pct', 'log_energy_intensity_mj_usd', 'log_gdp_pc_usd', 'above_30_pct', 'year_offset', 'renewables_3yr_avg']

In [129]:
# Check for columns that exist in one but not the other

final_cols = set(df_final.columns)
features_cols = set(df_features.columns)

print("Extra columns in features file:")
print(features_cols - final_cols)

print("\nMissing columns in features file:")
print(final_cols - features_cols)

Extra columns in features file:
{'co2_emissions_kt', 'clean_fuels_access_pct', 'climate_finance_usd', 'energy_intensity_mj_usd', 'renew_cap_kw_pc', 'renewables_share_pct', 'renewables_3yr_avg', 'gdp_growth_pct', 'subregion_miss', 'elec_access_pct', 'log_co2_per_capita_t', 'gdp_pc_usd', 'log_renewables_share_pct', 'log_gdp_pc_usd', 'renew_equiv_primary_pct_miss', 'low_carbon_elec_pct', 'log_energy_intensity_mj_usd', 'renew_elec_twh', 'primary_energy_kwh_pc', 'renew_equiv_primary_pct', 'fossil_elec_twh', 'clean_fuels_access_pct_miss', 'pop_density_per_km2', 'above_30_pct', 'region_miss', 'nuclear_elec_twh', 'year_offset', 'co2_per_capita_t', 'renew_cap_kw_pc_miss'}

Missing columns in features file:
{'electricity_from_renewables_twh', 'renewables_equivalent_primary_energy_pct', 'renewables_equivalent_primary_energy_pct_missing', 'renewable_electricity_generating_capacity_per_capita_missing', 'value_co2_emissions_kt_by_country', 'primary_energy_consumption_per_capita_kwh_per_person', 'region_missing', 'subregion_missing', 'gdp_growth', 'low_carbon_electricity_pct', 'electricity_from_nuclear_twh', 'electricity_from_fossil_fuels_twh', 'gdp_per_capita', 'density_per_km2', 'renewable_energy_share_in_the_total_final_energy_consumption_pct', 'renewable_electricity_generating_capacity_per_capita', 'access_to_clean_fuels_for_cooking', 'energy_intensity_level_of_primary_energy_mj2017_ppp_gdp', 'access_to_clean_fuels_for_cooking_missing', 'financial_support_to_developing_countries_usd', 'access_to_electricity_pct'}

In [ ]:
#Fix United States missing value

import pandas as pd

# Step 1: Load the dataset
df = pd.read_csv("../data/cleaned/enhanced_energy_features.csv")  

# Step 2: Patch the missing region/subregion for United States
df.loc[df['country'] == 'United States', ['region', 'subregion']] = ['Americas', 'Northern America']

# Step 3: Confirm fix worked
print(df[df['country'] == 'United States'][['country', 'region', 'subregion']].drop_duplicates())

            country    region         subregion
3502  United States  Americas  Northern America

In [3]:
# Save the changes to the dataset as final

df.to_csv("../data/cleaned/enhanced_energy_features_final.csv", index=False)

In [4]:
df.head()

,country,year,elec_access_pct,clean_fuels_access_pct,renew_cap_kw_pc,climate_finance_usd,renewables_share_pct,fossil_elec_twh,nuclear_elec_twh,renew_elec_twh,...,region_miss,subregion_miss,co2_per_capita_t,log_co2_per_capita_t,log_renewables_share_pct,log_energy_intensity_mj_usd,log_gdp_pc_usd,above_30_pct,year_offset,renewables_3yr_avg
0,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,0,0,0.037754,0.037059,3.828424,0.970779,5.195324,1,0,44.990000
1,Afghanistan,2001,4.074574,7.2,8.86,130000.0,45.60,0.09,0.0,0.50,...,0,0,0.035988,0.035356,3.841601,1.007958,5.195324,1,1,45.295000
2,Afghanistan,2002,9.409158,8.2,8.47,3950000.0,37.83,0.13,0.0,0.56,...,0,0,0.048180,0.047055,3.659193,0.875469,5.195324,1,2,42.806667
3,Afghanistan,2003,14.738506,9.5,8.09,25970000.0,36.66,0.31,0.0,0.63,...,0,0,0.053666,0.052276,3.628599,0.875469,5.255847,1,3,40.030000
4,Afghanistan,2004,20.064968,10.9,7.75,0.0,44.24,0.33,0.0,0.56,...,0,0,0.043717,0.042788,3.811982,0.788457,5.358387,1,4,39.576667

In [6]:
df.shape

(3649, 37)

In [7]:
# check country = United states
df[df['country'] == 'United States']

,country,year,elec_access_pct,clean_fuels_access_pct,renew_cap_kw_pc,climate_finance_usd,renewables_share_pct,fossil_elec_twh,nuclear_elec_twh,renew_elec_twh,...,region_miss,subregion_miss,co2_per_capita_t,log_co2_per_capita_t,log_renewables_share_pct,log_energy_intensity_mj_usd,log_gdp_pc_usd,above_30_pct,year_offset,renewables_3yr_avg
3502,United States,2000,100.0,100.0,256.84,0.0,5.43,2697.28,753.89,350.93,...,1,1,20.469807,3.066648,1.860975,2.045109,10.500562,0,0,5.430000
3503,United States,2001,100.0,100.0,256.84,0.0,4.68,2678.68,768.83,280.06,...,1,1,20.171531,3.052657,1.736951,2.020222,10.522295,0,1,5.055000
3504,United States,2002,100.0,100.0,256.84,0.0,4.84,2727.83,780.06,336.34,...,1,1,19.445549,3.017765,1.764731,2.014903,10.545977,0,2,4.983333
3505,United States,2003,100.0,100.0,256.84,0.0,5.33,2756.03,763.73,349.18,...,1,1,19.506499,3.020742,1.845300,1.991976,10.583992,0,3,4.950000
3506,United States,2004,100.0,100.0,256.84,0.0,5.48,2818.28,788.53,345.14,...,1,1,19.597631,3.025176,1.868721,1.976855,10.638587,0,4,5.216667
3507,United States,2005,100.0,100.0,256.84,0.0,5.84,2899.96,781.99,353.04,...,1,1,19.469262,3.018924,1.922788,1.951608,10.694572,0,5,5.550000
3508,United States,2006,100.0,100.0,256.84,0.0,6.40,2878.56,787.22,381.16,...,1,1,18.945914,2.993024,2.001480,1.919859,10.742891,0,6,5.906667
3509,United States,2007,100.0,100.0,256.84,0.0,6.30,2988.24,806.42,347.91,...,1,1,19.042914,2.997876,1.987874,1.918392,10.778476,0,7,6.180000
3510,United States,2008,100.0,100.0,256.84,0.0,6.85,2924.21,806.21,377.11,...,1,1,18.278494,2.958990,2.060514,1.897620,10.786915,0,8,6.516667
3511,United States,2009,100.0,100.0,256.84,0.0,7.35,2725.41,798.85,415.56,...,1,1,16.808699,2.879687,2.122262,1.876407,10.760049,0,9,6.833333
3512,United States,2010,100.0,100.0,256.84,0.0,7.44,2882.49,806.97,424.48,...,1,1,17.431738,2.914074,2.132982,1.874874,10.788652,0,10,7.213333
3513,United States,2011,100.0,100.0,256.84,0.0,8.36,2788.93,790.20,509.74,...,1,1,16.604218,2.868139,2.236445,1.850028,10.817447,0,11,7.716667
3514,United States,2012,100.0,100.0,256.84,0.0,8.73,2779.02,769.33,492.32,...,1,1,15.789783,2.820771,2.275214,1.816452,10.851353,0,12,8.176667
3515,United States,2013,100.0,100.0,256.84,0.0,9.08,2746.21,789.02,520.38,...,1,1,16.111184,2.839732,2.310553,1.816452,10.880074,0,13,8.723333
3516,United States,2014,100.0,100.0,256.84,0.0,9.22,2752.01,797.17,546.83,...,1,1,16.040921,2.835618,2.324347,1.805005,10.916015,0,14,9.010000
3517,United States,2015,100.0,100.0,256.84,0.0,9.03,2730.32,797.18,556.49,...,1,1,15.560035,2.806992,2.305581,1.771557,10.948424,0,15,9.110000
3518,United States,2016,100.0,100.0,256.84,0.0,9.46,2656.96,805.69,624.91,...,1,1,15.149885,2.781913,2.347558,1.747459,10.968584,0,16,9.236667
3519,United States,2017,100.0,100.0,256.84,0.0,9.92,2540.17,804.95,707.19,...,1,1,14.823261,2.761481,2.390596,1.726332,11.003942,0,17,9.470000
3520,United States,2018,100.0,100.0,256.84,0.0,10.12,2661.30,807.08,733.17,...,1,1,15.222548,2.786402,2.408745,1.724551,11.051928,0,18,9.833333
3521,United States,2019,100.0,100.0,256.84,0.0,10.42,2588.21,809.41,760.76,...,1,1,14.673411,2.751966,2.435366,1.706565,11.086449,0,19,10.153333
3522,United States,2020,100.0,100.0,256.84,0.0,10.42,2431.90,789.88,821.40,...,1,1,14.531912,2.742897,2.435366,1.706565,11.060281,0,20,10.320000

In [8]:
# check United States country, region and subregion

df[df['country'] == 'United States'][['country', 'region', 'subregion']].drop_duplicates()

            country    region         subregion
3502  United States  Americas  Northern America