# **Exploratory Data Analysis**

### Overview

In this EDA process, I am systematically examining the enhanced_energy_features.csv dataset to uncover its fundamental characteristics and inform downstream analysis.

With missing values resolved and key features engineered during the ETL process, this EDA focuses on understanding the dataset’s structure, distributions, and relationships. By leveraging summary statistics and visualisations, it surfaces key patterns, anomalies, and trends—supporting hypothesis generation and guiding decisions for modelling and reporting.

---

### **LOAD MERGED AND ENHANCED DATASET**

In [1]:
# import libraries
import numpy as np 
import pandas as pd
import seaborn as sn
import plotly.express as px
import matplotlib.pyplot as plt

In [3]:
# Load the dataset
df = pd.read_csv("../data/cleaned/enhanced_energy_features.csv")
df.head()

,country,year,elec_access_pct,clean_fuels_access_pct,renew_cap_kw_pc,climate_finance_usd,renewables_share_pct,fossil_elec_twh,nuclear_elec_twh,renew_elec_twh,...,region_miss,subregion_miss,co2_per_capita_t,log_co2_per_capita_t,log_renewables_share_pct,log_energy_intensity_mj_usd,log_gdp_pc_usd,above_30_pct,year_offset,renewables_3yr_avg
0,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,0,0,0.037754,0.037059,3.828424,0.970779,5.195324,1,0,44.990000
1,Afghanistan,2001,4.074574,7.2,8.86,130000.0,45.60,0.09,0.0,0.50,...,0,0,0.035988,0.035356,3.841601,1.007958,5.195324,1,1,45.295000
2,Afghanistan,2002,9.409158,8.2,8.47,3950000.0,37.83,0.13,0.0,0.56,...,0,0,0.048180,0.047055,3.659193,0.875469,5.195324,1,2,42.806667
3,Afghanistan,2003,14.738506,9.5,8.09,25970000.0,36.66,0.31,0.0,0.63,...,0,0,0.053666,0.052276,3.628599,0.875469,5.255847,1,3,40.030000
4,Afghanistan,2004,20.064968,10.9,7.75,0.0,44.24,0.33,0.0,0.56,...,0,0,0.043717,0.042788,3.811982,0.788457,5.358387,1,4,39.576667